<!DOCTYPE html>
<html>
    <head>
        {{ include("AppBundle::head.html.twig") }}
        {% block head %}

        {% endblock %}
        {% block stylesheets %}

        {% endblock %}
        <title>{% block title %}iFarm{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {{ include("AppBundle::menu.html.twig") }}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="container">
                <div class="card-panel red accent-4 white-text">
                    <h6>
                        <i class="material-icons left">warning</i>
                        {{flashMessage}}
                        <i class="material-icons right pointer close-panel tooltipped" data-tooltip="Zavřít" data-position="top" data-delay="0">clear</i>
                    </h6>

                </div>  
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="container">
                <div class="card-panel green darken-1 white-text">
                    <h6>
                        <i class="material-icons left">done</i>
                        {{flashMessage}}
                        <i class="material-icons right pointer close-panel tooltipped" data-tooltip="Zavřít" data-position="top" data-delay="0">clear</i>
                    </h6>

                </div>  
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="container">
                <div class="card-panel blue lighten-1 white-text">
                    <h6>
                        <i class="material-icons left">info_outline</i>
                        {{flashMessage}}
                        <i class="material-icons right pointer close-panel tooltipped" data-tooltip="Zavřít" data-position="top" data-delay="0">clear</i>
                    </h6>

                </div>  
            </div>
        {% endfor %}




        {% block body %}
        {% endblock %}

        {{ include("AppBundle::footer.html.twig") }}

        {% block javascripts %}
        {% endblock %}
        
        
        <script>
            
            $(function(){
                $(".close-panel").click(function(){
                    $(this).closest(".container").slideToggle(400);
                });
            });
            
            
        </script>
    </body>
</html>



