<div class="navbar-fixed">
    <nav class="white">
        <div class="nav-wrapper center-block container">
            {% if is_granted('ROLE_USER') %}


                <ul id="dropdown_oifarm" class="dropdown-content">
                    <li><a href="{{url('main_landingpage')}}">Projekt iFarm</a></li>
                    <li><a href="{{url('main_landingpage')}}">Ukázka z praxe</a></li>
                    <li><a href="{{url('main_landingpage')}}">Jak to funguje?</a></li>  
                    <li><a href="{{url('main_landingpage')}}">Kolik to stojí?</a></li>  
                    <li><a href="{{url('main_landingpage')}}">Vyzkoušet</a></li>   
                    <li><a href="{{url('main_landingpage')}}">Reference</a></li>   
                    <li><a href="{{url('main_landingpage')}}">Obchodní podmínky</a></li>  
                    <li><a href="{{url('main_landingpage')}}">Kontakt</a></li> 
                </ul>


                <ul id="dropdown_user" class="dropdown-content">
                    <li><a href="{{url('main_settings')}}"><i class="material-icons left">settings</i>Nastavení</a></li>
                    <li><a href="{{url('main_profil', {id: app.user.id})}}"><i class="material-icons left">perm_identity</i>Profil</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('security_logout') }}"><i class="material-icons left">power_settings_new</i>Odhlásit</a></li>
                </ul>

                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#" data-activates="dropdown_oifarm">O iFarm<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="{{url('main_overview')}}">Přehled</a></li>
                    <li><a href="{{url('main_offer')}}">Nabídnout</a></li>
                    <li><a href="{{url('main_demand')}}">Poptat<span class="new badge">4</span></a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-button" href="#" data-activates="dropdown_user">{{ app.user.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>

            {% else %}  

                <a href="#!" class="brand-logo">iFarm.cz</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url('main_landingpage')}}">Projekt iFarm</a></li>
                    <li><a href="{{url('main_landingpage')}}">Ukázka z praxe</a></li>
                    <li><a href="{{url('main_landingpage')}}">Jak to funguje?</a></li>  
                    <li><a href="{{url('main_landingpage')}}">Kolik to stojí?</a></li>  
                    <li><a href="{{url('main_landingpage')}}">Vyzkoušet</a></li>   
                    <li><a href="{{url('main_landingpage')}}">Reference</a></li>   
                    <li><a href="{{url('main_landingpage')}}">Obchodní podmínky</a></li>  
                    <li><a href="{{url('main_landingpage')}}">Kontakt</a></li>  
                    <li class="prihlasit green lighten-2">
                        <a href="#" >Přihlásit</a>

                    </li>  
                    <li class="registrovat">
                        <a href="#">Registrovat</a>                        
                    </li>      
                </ul>

            {% endif %}
        </div>
    </nav>
</div>

{{ render(url("security_loginForm")) }}
{{ render(url("user_registerForm")) }}

<script>

    var $form_login = $(".form_login");
    var $form_register = $(".form_register");
    var $prihlasit = $(".prihlasit");
    $form_login.hide();
    $form_register.hide();


    $(function () {
        $prihlasit.click(function () {
            $form_login.slideToggle();
        });
        $(".registrovat").click(function () {
            $form_register.slideToggle();
        });

        $(".dropdown-button").dropdown({hover: true, constrain_width: false, belowOrigin: true});

    });


</script>