{% extends "AppBundle::base.html.twig" %}

{% block title %}iFarm - pro moderní farmáře{% endblock %}

{% block body %}
    <div class="container">

        <h1>{{ item.name }}</h1>
        <a class="waves-effect waves-light btn-large center-align z-depth-0" href={{url('item_create',{'typeStr': item.TypeToString})}}>
            <i class="material-icons left">repeat</i>Odpovědět
        </a>
        <table>
            <tr>
                <td>Vytvořil: </td>
                <td><a href="{{url('main_profil',{id: item.owner.id})}}"> {{item.owner.name|default(item.owner.email)}}</a></td>
            </tr>
            <tr>
                <td>Kategorie: </td>
                <td><a href="{{url('main_category',{categoryUrl: item.category.urlName})}}" >{{ item.category.name}}</a></td>
            </tr>

            {% for param in item.params %}
                <tr>
                    <td>{{param.definition.name}}</td>
                    <td>{{param.value}}</td>
                </tr>

            {% endfor %}



            <tr>
                <td>Poznámka: </td>
                <td>{{item.note}}</td>
            </tr>
            <tr>
                <td>Datum vytvoření: </td>
                <td>{{item.dateCreated|date('d.m.Y')}}</td>
            </tr>
        </table>

        <h4>Dotazy</h4>
        {% for comment in item.comments %}
            <h5>{{comment.owner.name|default(comment.owner.email)}}</h5>
            <h6>{{comment.text}}</h6>
        {% endfor %}

        <div class="row">
            <form class="col s12" method="post" action="{{url('main_addComment',{item: item.id})}}" >
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Máte dotaz? Nebojte se zeptat" id="comment" name="comment" type="text">
                        <label for="comment">Komentář</label>
                    </div>
                    <div class="col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Odeslat dotaz
                            <i class="material-icons right">send</i>
                        </button>
                    </div>

                </div>

            </form>
        </div>



        {% if item.responceTo is null %}

            <h5>Odpovědi:</h5>
            {% for responce in item.responces %}
                <a href="{{url('main_item', {'item': responce.id})}}">{{responce.owner.email}}</a>
            {% else %}
                <h6>Nemáte žádné odpovědi</h6>
            {% endfor %}

        {% endif %}




    </div>

{% endblock %}
