<table class="bordered striped highlight">
    <thead>
        <tr>
            <th data-field="id">Název</th>
            <th data-field="id">Kategorie</th>
            <th data-field="name">Datum vytvoření</th>
            <th data-field="name">Počet nabídek</th>
            <th data-field="price"></th>
            <th data-field="price"></th>
        </tr>
    </thead>

    <tbody>
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.category.name}}</td>
                <td>{{item.dateCreated|date('d.m.Y')}}</td>
                <td>{{item.responces|length}}</td>
                <td>{% if item.public %}<i class="material-icons tooltipped" data-tooltip="Veřejné" data-position="top">language</i>{% endif %}</td>
                <td><a class="waves-effect waves-red btn-flat dropdown-button" data-beloworigin="true" data-hover="false" data-activates='dropdowndem{{item.id}}'><i class="material-icons right">more_vert</i>Možnosti</a></td>
            </tr>
        <ul id='dropdowndem{{item.id}}' class='dropdown-content'>
            <li><a href="#!"><i class="material-icons left">search</i>Zobrazit</a></li>
            {% if item.owner == app.user %}
            <li><a href="#!"><i class="material-icons left">done</i>Vyřízené</a></li>
            <li><a href="#!"><i class="material-icons left">layers</i>Duplikovat</a></li>
            <li class="divider"></li>
            <li><a href="{{url('item_deleteDemand',{item: item.id })}}"><i class="material-icons left">delete</i>Smazat</a></li>
            {% endif %}
        </ul>


    {% endfor %}

</tbody>
</table>